.Projects {
  font-size: 3rem;
  text-align: center;
  padding: 0px 0px 0px 20px;
  width: calc(100vw - 5rem);
  margin: 0 7.5vw 0 7.5vw;
}

.Projects > p {
  margin: 10vh 0 0 0;
}

.Projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: start;
  margin-bottom: 15vh;
}

.Projects footer {
  font-size: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .Projects {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .Projects {
    padding: 0;
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 600px) {
  .Projects-forms {
    margin: 0 0 0px 0;
  }

  .Projects-list {
    justify-content: center;
  }

  .Projects {
    width: 100vw;
  }
}
